<div [formGroup]="form" id="form" *ngIf="!authService.token">
  <input formControlName="email" type="text" placeholder="Email" /><br/>
  <input formControlName="password" type="password" placeholder="Password" /><br/>
  <button (click)="submit()">Login</button>
</div>

<div *ngIf="authService.token">
  Welcome {{authService.email}}
  <button (click)="authService.logout()">Logout</button>
  <!--data grid - start -->
  <Table><tr><td>Title</td><td>Description</td><td>Status</td></tr>
  <div *ngFor="let task of taskService.tasks$ | async">
    <tr>
      <td>{{ task.title }}</td>
      <td>{{ task.description}}</td>
      <td>{{ task.status }}</td>
    </tr>
  </div>
</Table>
  <!--data grid - end -->
</div>